body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f2f2f2;
  color: #6B6B6B;
}

header {
  background-color: #000000;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.educacao-direitos-humanos {
  padding: 20px;
  margin-top: 20px;
}

.educacao-direitos-humanos p {
  color: #6B6B6B;
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

.logo {
  height: 100px;
}

.audio {
  display: flex;
  margin: auto;
  justify-content: center;
  border-radius: 10px;
  width: 300px;
} 

.video {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 100%;
}

nav.menu {
    background-color: #000000;
    height: 70px;
}

.button ul {
  list-style: none;
  display: flex;
  justify-content: right;
  padding: 0;
  margin: 0;
}

.button a {
  color: #fff;
  text-decoration: none;
  padding: 10px 10px;
  background-color: #000000;
  border-radius: 10px;
  font-size: 1rem;
}

.button a:hover {
  background-color: #EDB71F;
  color: #000000;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    font-size: 1.2rem;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.menu a:hover {
    background-color: #EDB71F;
    border-radius: 10px;
}

.banner img {
   width: 100%;
    max-width: 800px;
    height: 450px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
 
main {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

h1 {
  color: #000000;
  text-align: center;
}

h2 {
  color: #000000;
}

footer {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 40px;
}

footer a:hover {
  color: #EDB71F;
  text-decoration: underline;
}

.intro-contexto,
.sobre-pndh,
.objetivos-edh,
.aplicacao-escola,
.referencias {
  margin: 30px 0;
}

.sobre-pndh,
.aplicacao-escola {
  background-color: #e0f4ff;
  padding: 20px;
  border-left: 8px solid #000000;
  border-radius: 10px;
}

.objetivos-edh ul,
.aplicacao-escola ul,
.referencias ul {
  list-style-type: disc;
  padding-left: 20px;
}

img.imagem {
  width: 100%;
  max-width: 1000px;
  height: 650px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  margin: auto;
}

div.slideshow-container{
  max-width: 1000px;
  position: relative;
  margin: auto;
  color: black;
}

div.meuSlide{
  display: none;
}

.anterior, .proximo {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #ffffff;
  font-weight:bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
}

.proximo {
  right: 0;
  border-radius: 3px 0 0 3px;

}

.anterior:hover, .proximo:hover{
  background-color: rgba(0, 0, 0, 0.8);
}

div.pontos{
  text-align: center;
}

span.ponto{
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border-radius: 50%;
  display: inline-block;
}

.ativo, .ponto:hover {
  background-color: #717171;
}